<!DOCTYPE html>
{% load static %}
{% extends "basic_app/base.html" %}

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
    crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'usipav/css/main.css' %}" />


</head>
  <body>
    {% block body_block %}
    <div id="formulario">
        <h1>Formulário:</h1>
        <br/>

        <form wrap="hard" style="display: block;" method="POST">
            {{ form }}
            {% csrf_token %}
            <br/>
            <button class="buton button1" type="submit">Submit</button>
        </form>
    </div>
    {% endblock %}
  </body>
</html>
